<div class = "container">
  <div class = "row mt-5">
    <div class = "col-lg-2 border border-dark">
      ジャンル検索
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-2 border border-dark">
      <p>ケーキ</p>
      <p>キャンディ</p>
    </div>
    <div class = "col-lg-5 offset-2 border border-dark p-3">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-8 offset-2  mt-5 ">
      <h2>新着商品</h2>
      <div class = "new-items d-flex">
        <% @items.each do |item| %>
          <div class = "new-item mx-2" >
            <p><%= image_tag item.get_image(200,200) %></p>
            <p><%= item.name %></p>
            <p><%= item.with_tax_price %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
   <div class = "row justify-content-end">
      <%= link_to "全ての商品を見る", items_path %>
    </div>
</div>